<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" HubSpot Application Automation Regression Test Suite">
  
  
  <listeners>
 <!--  <listener class-name="com.qa.extentReportListner.ExtentReportListner" /> -->
 <!--  <listener class-name="com.qa.extentReportListner.PDFListener" /> -->
 <listener class-name="com.qa.extentReportListner.TestAllureListener" /> 
  
  </listeners>  
  
  <test name="HubSpot Application Automation regression Test">
    <classes>
     <class name="com.qa.HubspotTestCases.HubSpotLoginTest"></class>
      <class name="com.qa.HubspotTestCases.HubSpotHomeTest"></class>
    
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->